.catalog {
    margin-top: 218px;
}

.catalog__title {
    margin-bottom: 37px;
    line-height: 59.67px;
    letter-spacing: -1px;
}

@media (max-width: 1394px) {
    .catalog__wrapper {
        max-width: 910px;
        margin: 0 auto;
    }
}
@media (max-width: 940px) {
    .catalog__wrapper {
        max-width: unset;
        justify-content: center;
    }
}