.list-item {
    display: flex;
    justify-content: center;
    flex: 0 1 33.3333%;
}

.item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 14px 9px;
    padding: 30px 20px 20px;
    box-shadow: 0 1px 7px #696464;
}

.item__description {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.item__img {
    margin-bottom: 30px;
    width: 250px;
    height: 250px;

    .img {
        width: 100%;
        height: 100%;
    }
}

.item__title {
    flex: 1 1 100%;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    max-width: 386px;
}

.item__features {
    display: flex;
    justify-content: space-between;
}

.item__add-info {
    font-size: 16px;
    font-family: $text-font;
    font-weight: 300;
    color: #999999;
}

.item__price-tag {
    font-family: $text-font;
    color: #000;
}

.item__price {
    font-size: 36px;
    font-weight: 500;
}

.add-to-cart {
    position: relative;
    top: -10px;
    cursor: pointer;
}

.add-to-cart__vector {
    position: absolute;
    top: 14px;
    right: 18px;
}

.add-to-cart__dot_left {
    position: absolute;
    left: 25px;
    bottom: 16px;
}

.add-to-cart__dot_right {
    position: absolute;
    left: 36px;
    bottom: 16px;
}

@media (max-width: 1394px) {
    .list-item {
        flex: 0 1 50%;
    }
}
@media (max-width: 645px) {
    .list-item {
        flex: 0 1 100%;
    }
}
