.container {
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: $container-width;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.basic-margin {
    margin: $basic-margin auto;
}

.m-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title {
    font-family: $title-font;
}

h1.title {
    /* font-family: 'SF UI Display Black'; */
    font-size: 64px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
}

h2.title {
    font-weight: 700;
    font-size: 52px;
    color: #000;
}

h3.title {

}

h4.title {

}

h5.title {

}

h6.title {

}

.img-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    height: 250px;
}

.img {
    width: 100%;
    object-fit: cover;
}

.button {
    font-family: $button-font;
}

.filters {
    padding: 0 15px;

    .filters__button:first-child {
        margin-left: 0;
    }
}

.filters__button {
    margin-right: 5px;
    padding: 10.5px 19px;
    font-size: 13px;
    border-radius: 30px;
    color: $primary-color;
    border: 1px $primary-color solid;
    background: #FFF;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &:nth-child(n + 2) {
        margin-left: 5px
    }
}

.filters__button_active {
    @include activated-filter;
}

.filters__button_show {
    @include activated-filter;
    box-shadow: 0 0 5px 2px #a09b9b;
}

.swiper-container {
    .item__wrapper {
        margin: 14px 8px;
    }
}

.swiper-butt-prev, .swiper-butt-next {
    position: absolute;
    bottom: 5px;
    width: 18px;
    height: 2px;
    background: $primary-color;
    z-index: 10;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: -3px;
        width: 8px;
        height: 8px;
        border-left: 2px $primary-color solid;
        border-top: 2px $primary-color solid;
    }
}

.swiper-butt-prev {
    left: calc(50% - 45px);
    
    &::after {
        transform: rotate(-45deg);
    }
}

.swiper-butt-next {
    left: calc(50% + 24px);

    &::after {
        left: 11px;
        transform: rotate(135deg);
    }
}

.product-slider .swiper-container {
    padding: 0 15px;
    padding-bottom: 35px;
    margin-top: 8px;

    .swiper-slide {
        display: flex;
        height: auto !important;

        .list-item {
            flex: 0 1 100%;
        }
    }

}

.product-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $container-width;
}

@media (min-width: 955px) and (max-width: 1400px) {
    .swiper-container {
        max-width: 950px;
    }
}
@media (max-width: 955px) {
    .swiper-container {
        max-width: 460px;
    }
}
@media (max-width: 660px) {
    h1.title {
        font-size: 55px;
    }
}
@media (max-width: 430px) {
    h1.title {
        font-size: 40px;
    }
}